* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: fixed;
    top: 1rem;
    right: 1rem;
    border: 5px dashed greenyellow;
}

fieldset {
    position: fixed;
    top: 1rem;
    left: 1rem;
    border: 5px dashed coral;
}
